NODE_ENV=development
HOST=127.0.0.1
PORT=8787
REFRAMOTION_ROOT=.
REFRAMOTION_DATA_DIR=./data
REFRAMOTION_TEMPLATES_DIR=./templates
REFRAMOTION_API_KEY=
REFRAMOTION_MAX_BODY_BYTES=5242880
REFRAMOTION_MAX_BATCH_JOBS=10000
REFRAMOTION_WORKER_CONCURRENCY=1
REFRAMOTION_POLL_INTERVAL_MS=1000
REFRAMOTION_RENDER_TIMEOUT_MS=1800000
REFRAMOTION_HYPERFRAMES_BIN=hyperframes
REFRAMOTION_REMOTION_BIN=npx
REFRAMOTION_LOG_LEVEL=info
